$fontArticle: Helvetica, sans-serif;
$fontArticleColor: white;
$articleFontSize: 2em;
$themeLight: #50abff;
$themeDark: #014585;
$themeLightest: #a7d5ff;

main{
  width: 90%;
  margin: 0 auto;
  margin-top: 10%;
}
article{

}
section{
  background-color: $themeLight;
  color: $fontArticleColor;
  font-family: $fontArticle;
  float:right;
  width: 60%;
  border-radius: 7px;
  padding: 1%;
  box-sizing: border-box;
  margin-bottom: 4%;
  position: relative;
}
aside{
  width: 15%;
  float: right;
  text-align: right;
  box-sizing: border-box;
  margin-right: 10%;
  position: relative;
}

time{
  font-size: 3em;
  color: $themeLight;
}

.date{
  color: gray;
  font-size: 1em;
}

.timeline {
  width: 1%;
  height: 200%;
  float: right;
  background-color: $themeLightest;
  position: absolute;
  left: 35%;
}

.dot{
  top: -2%;
  left: -13.5%;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 1;
  background-color: $themeDark;
  border-radius: 50%;
  border: 7px solid $themeLightest;
}
